.grid_search_bar {
    margin-bottom: 1.1rem;
    margin-left: 0.5rem;
}

.separator {
    font-weight: bolder;
    font-size: larger;
}

.list_box label {
    margin-left: 1rem;
}

.star image {
    color: #e5a50a;
}

.official image {
    color: #1b8553;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}